@charset "utf-8";

html {overflow:-moz-scrollbars-vertical;-ms-overflow-y:scroll;overflow-y:scroll;overflow-x:auto;}
html {scroll-behavior:smooth;-webkit-text-size-adjust:none;text-rendering:optimizeLegibility;}
html, body {width:100%;height:100%;margin:0;padding:0;background:transparent;}

::-moz-selection {text-shadow:none;color:#fff;background-color:#4cff38;}
::selection {text-shadow:none;color:#fff;background-color:#4cff38;}

div, dl, dt, dd, blockquote, iframe, figcaption, figure, form, caption, fieldset, legend, input, select, textarea, h1, h2, h3, h4, h5, h6, table, th, td, p, pre, ol, ul, li {margin:0;padding:0;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, template {display:block;width:100%;margin:0;padding:0;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;margin:0;padding:0;}
audio:not([controls]) {display:none;}

body, h1, h2, h3, h4, h5, h6, input, select, button, textarea, a {font-size:100%;font-family:'맑은 고딕', '나눔고딕', NanumGothic, '돋움', Dotum, sans-serif;line-height:1.3;color:#333;background:transparent;}
address {font-style:normal;}
i {font-style:normal;}

ol, ul, li {list-style:none;}

table {width:100%;table-layout:fixed;empty-cells:show;border-collapse:collapse;border-spacing:0;border:0 none;}
th, td {border:0 none;}

iframe {width:100%;vertical-align:middle;}
fieldset {vertical-align:middle;border:0 none;outline:0 none;}
legend {width:100%;}

select {border:1px solid #e5e5e5;background-color:#fff;}

input::-ms-clear {display:none;}
input[readonly] {cursor:not-allowed;}
input[type="text"],
input[type="password"] {border:1px solid #e5e5e5;outline:0 none;background-color:#fff;}
input[type="button"],
input[type="submit"],
input[type="reset"],
button {border:0 none;outline:0 none;cursor:pointer;}
input[disabled],
button[disabled] {cursor:default;}

textarea {display:block;width:100%;border:1px solid #e5e5e5;background-color:#fff;resize:none;}

a {text-decoration:none;color:inherit;}
a:hover, a:active, a:focus {text-decoration:none;outline:0 none;}

img {max-width:100%;width:auto;margin:0;padding:0;line-height:0;vertical-align:middle;border:0 none;}

.none, hr {display:none;}
.hide {position:absolute;top:0;left:-1px;width:1px;height:1px;font:1px;line-height:1px;overflow:hidden;}

.nav-skip {position:fixed;top:-25px;left:0;width:100%;z-index:999999;}
.nav-skip a {position:absolute;top:20px;width:100%;height:1px;font-weight:bold;color:#fff;text-align:center;overflow:hidden;}
.nav-skip a:hover,
.nav-skip a:active,
.nav-skip a:focus {height:auto;padding-top:10px;padding-bottom:10px;background-color:#ff7b7c;}
