{% if paginator.total_pages > 1 %}
<p class="pagination">

    {% if paginator.page != 1 %}
    <a href="/">
        <span class="hide">처음 페이지 이동</span>
    </a>{% endif %}

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <span class="hide">이전 페이지 이동</span>
    </a>{% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <span class="on">{{ page }}</span>
    {% elsif page == 1 %}
    <a href="/">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}{% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
        <span class="hide">다음 페이지 이동</span>
    </a>{% endif %}

    {% if paginator.page != paginator.total_pages %}
    <a href="/page{{ paginator.total_pages }}">
        <span class="hide">마지막 페이지 이동</span>
    </a>{% endif %}

</p>
{% endif %}
